@font-face {
  font-family: 'PTSans';
  src: url('/assets/fonts/pt-sans_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'PTSans';
  src: url('/assets/fonts/pt-sans_italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'PTSans';
  src: url('/assets/fonts/pt-sans_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

html, body {
  height: 100%;
}

html {
  --color-primary: rgb(255, 0, 160);
  --color-link: #8e33f5;

  font-family: 'PTSans', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  color: #424242;
}

a {
  color: #0060a0;
  text-decoration: underline;
  text-decoration-color: rgba(0, 96, 160, 0.15);
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.27em;
  transition:
    color 0.3s,
    text-decoration-color 0.3s;
}

a:hover {
  color: rgb(255, 0, 160) !important;
  text-decoration-color: rgb(255, 184, 229) !important;
}

h1,
h2,
h3,
h4,
.h {
  margin: 0 0 0.6em 0;
  font-weight: 700;
  line-height: 1.2em;
}

h1,
.h_lvl_1 {
  font-size: 2.2em;
}

h2,
.h_lvl_2 {
  font-size: 1.8em;
}

h3,
.h_lvl_3 {
  font-size: 1.2em;
}

h4,
.h_lvl_4 {
  font-size: 1em;
}

h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 1.5em;
}

p {
  margin: 0;
  margin: 0.7em 0;
  line-height: 1.4em;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul:not([class]) {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.85em 0;
  padding: 0;
  list-style: none;
}

mark {
  background: linear-gradient(#ffee58, #ffeb3b);
  color: #212121;
}

.container {
  max-width: 960px;
  padding: 1em;
  box-sizing: border-box;
}

@media screen and (min-width: 960px) {
  .container {
    margin-left: 5em;
  }
}

.header {
  margin-top: 3em;
}

.name {
  margin-bottom: 0.1em;
}

.positions {
  margin-top: 0;
  font-size: 1.1rem;
  color: #757575;
}

.main {
  margin-top: 2.5em;
}

section {
  margin: 3em 0;
}

.techs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
  list-style: none;
  font-size: 0.8em;
  line-height: 1em;
  user-select: none;
}

.techs__item {
  flex: none;
  padding: 0.4em 0.6em;
  border: solid 1px #bdbdbd;
  border-radius: 5px;
  color: #757575;
}

.techs__item_main {
  background: linear-gradient(#ffee58, #ffeb3b);
  color: #212121;
  border: none;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8em;
  margin-top: 1em;
  font-size: 0.95rem;
  line-height: 1em;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.legend-item__color {
  width: 0.8em;
  height: 0.8em;
  border-radius: 100%;
}

.reviews-section__intro {
  font-size: 1.1rem;
  margin-bottom: 2.1em;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.review {
  font-size: 1.15em;
}

.review__role {
  color: #757575;
}

.timeline {
  border-left: 1px solid #9e9e9e;
  list-style: none;
  margin: 0;
  padding: 1em 0;
  position: relative;
  width: 100%;
}

.timeline__item {
  padding: 0 2em;
  position: relative;
}

.timeline__item:not(:last-child) {
  margin-bottom: 3em;
}

.timeline__item:after,
.timeline__item:before {
  border-radius: 100%;
  content: '';
  left: -0.5px;
  position: absolute;
  top: 0.9rem;
  transform: translate(-50%, -50%);
}

.timeline__item:before {
  background: #424242;
  height: 8px;
  width: 8px;
  z-index: 1;
}

.timeline__item:after {
  background: #fff;
  border: 2px solid #424242;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
}

.timeline__item_key:before {
  background: #0060a0;
}

.timeline__item_key:after {
  border-color: #0060a0;
}

.timeline-item__period {
  color: #757575;
}

.timeline-item__title {
  margin: 0.4em 0;
  font-size: 1.2rem;
  line-height: 1.4em;
  font-weight: 700;
}

.timeline-item__subtitle {
  font-weight: 700;
}

.timeline-item__details {
  margin-top: 1.5em;
}

.footer {
  font-size: 0.8rem;
  color: #757575;
}
